@{
    ViewBag.Title = "Home Page";
}
@section Scripts
{
    <script>
        var urlListarRelaciones = "@Url.Action("ListarRelaciones")";
        var urlObtenerEstado = "@Url.Action("ObtenerEstadoServidor")";
        var urlActualizarServidor = "@Url.Action("ActualizarServidor")";
    </script>
    <script src="~/Scripts/home.index.js"></script>
}

<!-- ko if: Estado() != null && Estado().UpdateEnProgreso -->
    <div class="alert alert-info" role="alert">
        <!-- ko if: !Estado().GuardandoCambios -->
        <strong>Actualizando Relaciones: </strong><span data-bind="text: Estado().RelacionesActualizadas + '/' +Estado().CantidadDeRelaciones"></span>
        <!-- /ko -->
        <!-- ko if: Estado().GuardandoCambios -->
        <strong>Guardando novedades...</strong>
        <!-- /ko -->
    </div>
<!-- /ko -->
<!-- ko if: Estado() != null && !Estado().UpdateEnProgreso -->
    <div class="alert alert-success" role="alert">
        <strong>Relaciones Analizadas: </strong><span data-bind="text: Estado().CantidadDeRelaciones + ' - ' +Estado().UltimoUpdate"></span>
        <button type="button" class="btn btn-default" data-bind="click: ActualizarServidor">Actualizar</button>
    </div>
<!-- /ko -->
    <div class="well">
        <ul class="nav nav-wizard">
            <!-- ko foreach: JugadaNueva.Movimientos -->
            <li class="active">
                <a>
                    <div class="row">
                        <div class="col-xs-8">
                            <input data-bind="value: Relacion.Nombre" type="text" class="form-control" readonly />
                        </div>
                    </div>
                </a>
            </li>
            <!-- /ko -->
            <li class="active">
                <a>
                    <div class="row">
                        <div class="col-xs-8">
                            <input data-bind="value: JugadaNueva.RelacionSeleccionada, valueUpdate: 'afterkeydown'" type="text" class="form-control" list="relaciones" />
                            <datalist id="relaciones">
                                <!-- ko foreach: JugadaNueva.RelacionesFiltradas -->
                                <option data-bind="value: Nombre"></option>
                                <!-- /ko -->
                            </datalist>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <nav>
            <ul class="pager" style="margin-top:10px; margin-bottom: 0">
                <li>
                    @*<button type="button" class="btn btn-default" data-bind="click: InsertarJugada">Insertar</button>*@
                </li>
            </ul>
        </nav>
        
    </div>