        
<div class="buy_box">
    <div class="inset" style="width: 200px">
        <div class="input-group">
            <input class="form-control input-xs" id="pair" data-bind="value: RelacionEscrita, valueUpdate: 'afterkeydown', enable: Relacion() == null" type="text" list="relaciones" />
            <datalist id="relaciones">
                <!-- ko foreach: RelacionesFiltradas -->
                <option data-bind="value: Nombre"></option>
                <!-- /ko -->
            </datalist>
            <span class="input-group-btn">
                <button href="#" class="btn btn-sq-xs btn-info" data-bind="click: ConfirmarRelacion(), enable: Relacion() == null">
                    <i class="glyphicon glyphicon-ok-circle"></i>
                </button>
            </span>
        </div>
        <div class="form-horizontal" data-bind="visible: Relacion() != null">
            <div class="form-group"style="margin-bottom:0">
                <h6 class="col-sm-12" data-bind="with: Relacion" >Amount(<!-- ko text: Principal.toUpperCase() --><!-- /ko -->):</h6>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: AmountCompra, event:{ change: AmountCompraChanged}" type="text" >
                </div>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: AmountVenta, event:{ change: AmountVentaChanged}" type="text" >
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0" data-bind="with: Relacion" >
                <h6 class="col-sm-12" >Price(<!-- ko text: Secundaria.toUpperCase() --><!-- /ko -->):</h6>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: Venta.toFixed(8)" type="text">
                </div>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: Compra.toFixed(8)" type="text">
                </div>
            </div>
            <!-- ko if: Comprar() -->
            <div class="form-group" >
                <h6 class="col-sm-12" data-bind="with: Relacion">Total+Fee(<!-- ko text: Secundaria.toUpperCase() --><!-- /ko -->):</h6>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: TotalCompra, event:{ change: TotalCompraChanged}" type="text">
                </div>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: TotalVenta, event:{ change: TotalVentaChanged}" type="text">
                </div>
            </div>
            <div class="text-center">
                <input type="button" class="btn btn-info btn-xs" data-bind="click: function(){Comprar(false);}" origin="Buy" value="Buy">
            </div>
            <!-- /ko -->
            <!-- ko if: !Comprar() -->
            <div class="form-group" >
                <h6 class="col-sm-12" data-bind="with: Relacion">Total-Fee(<!-- ko text: Secundaria.toUpperCase() --><!-- /ko -->):</h6>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: TotalCompra, event:{ change: TotalCompraChanged}" type="text">
                </div>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: TotalVenta, event:{ change: TotalVentaChanged}" type="text">
                </div>
            </div>
            <div class="text-center">
                <input type="button" class="btn btn-info btn-xs" data-bind="click: function(){Comprar(true);}" origin="Sell" value="Sell">
            </div>
            <!-- /ko -->
        </div>
    </div>    
</div>


