        
<div class="buy_box">
    <div class="inset" style="width: 180px">
        <div class="input-group">
            <input class="form-control input-xs" id="pair" data-bind="value: RelacionEscrita, valueUpdate: 'afterkeydown', enable: Relacion() == null, attr: { list: $index() + 'relaciones' }" type="text" list="relaciones" />
            <datalist data-bind="attr: { id: $index() + 'relaciones' }">
                <!-- ko foreach: RelacionesFiltradas -->
                <option data-bind="value: Nombre"></option>
                <!-- /ko -->
            </datalist>
            <span class="input-group-btn">
                <button href="#" class="btn btn-sq-xs btn-info" data-bind="click: ConfirmarRelacion(), enable: Relacion() == null">
                    <i class="glyphicon glyphicon-ok-circle"></i>
                </button>
            </span>
        </div>
        <div class="form-horizontal" data-bind="visible: Relacion() != null">
            <div class="form-group"style="margin-bottom:0">
                <h6 class="col-sm-12" data-bind="with: Relacion" >Amount(<!-- ko text: Principal.toUpperCase() --><!-- /ko -->):</h6>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: AmountCompra, event:{ change: AmountCompraChanged}" type="text" >
                </div>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: AmountVenta, event:{ change: AmountVentaChanged}" type="text" >
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0" data-bind="with: Relacion" >
                <h6 class="col-sm-12" >Price(<!-- ko text: Secundaria.toUpperCase() --><!-- /ko -->):</h6>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: Venta.toFixed(8)" type="text">
                </div>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: Compra.toFixed(8)" type="text">
                </div>
            </div>
            <!-- ko if: Comprar() -->
            <div class="form-group" >
                <h6 class="col-sm-12" data-bind="with: Relacion">Total+Fee(<!-- ko text: Secundaria.toUpperCase() --><!-- /ko -->):</h6>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: TotalCompra, event:{ change: TotalCompraChanged}" type="text">
                </div>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: TotalVenta, event:{ change: TotalVentaChanged}" type="text">
                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-info btn-xs" data-bind="click: function(){Comprar(false);}, visible: EsInicial() && MovimientoSiguiente() == null">Buy</button>
                <button type="button" class="btn btn-info btn-xs" data-bind="click: Siguiente, visible: MovimientoSiguiente() == null, css: { 'pull-right': EsInicial() && MovimientoSiguiente() == null }">
                    <i class="glyphicon glyphicon-arrow-right"></i> <i class="glyphicon glyphicon-arrow-right"></i>
                </button>
            </div>
            <!-- /ko -->
            <!-- ko if: !Comprar() -->
            <div class="form-group" >
                <h6 class="col-sm-12" data-bind="with: Relacion">Total-Fee(<!-- ko text: Secundaria.toUpperCase() --><!-- /ko -->):</h6>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: TotalCompra, event:{ change: TotalCompraChanged}" type="text">
                </div>
                <div class="col-sm-6">
                    <input class="form-control input-xs" data-bind="value: TotalVenta, event:{ change: TotalVentaChanged}" type="text">
                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-info btn-xs" data-bind="click: function(){Comprar(true);}, visible: EsInicial() && MovimientoSiguiente() == null">Sell</button>
                <button type="button" class="btn btn-info btn-xs" data-bind="click: Siguiente, visible: MovimientoSiguiente() == null, css: { 'pull-right': EsInicial() && MovimientoSiguiente() == null }">
                    <i class="glyphicon glyphicon-arrow-right"></i> <i class="glyphicon glyphicon-arrow-right"></i>
                </button>
            </div>
            <!-- /ko -->
        </div>
    </div>    
</div>


